<div class="container bg-light p-4">
  <div class="row">
    <div class="col-7 m-auto">
      <h1 class="text-center">Cadastro de Alunos</h1>
      <form>
        <div class="mb-3">
          <label for="matricula" class="form-label">matricula</label>
          <input
            type="text"
            class="form-control"
            id="matricula"
            aria-describedby="matricula">
        </div>
        <div class="mb-3">
          <label for="aluno" class="form-label">Curso</label>
          <input
            type="text"
            class="form-control"
            id="aluno"
            name="aluno"  
          />
        </div>
        <div class="mb-3">
          <label for="Curso" class="form-label">Curso</label>
          <input
            type="text"
            class="form-control"
            id="curso"
            name="curso"  
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
